local:
  cpus: 8
  memory: 16192
  storage: 40g
  #vm_driver: virtualbox
  vm_driver: kvm2
  mnt_data: /data/minio

remote:
  type: aws
  cluster_name: data-mill
  bucket_name: data-mill
  region: "us-east1"
  zones: "us-east1a"
  no_nodes: 2
  node_size=t2.medium
